body {
	background-color: white;
	font-family: MyriadPro-Regular;
	margin: 0;
	padding: 0;
}

.overlay_image_container h2 {
	text-align: center;
}

.overlay_image_container a {
	text-decoration: none;
	color: rgb(127, 127, 127);
}

.overlay_image_container a:hover {
	color: orange;
}

.larger_text {
	font-size: 32px;
  font-family: Optima;
  color: black;
}

.top_landing {
	padding-bottom: 9%;
  background: url("../images/blurred_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin: 0 auto;
}

#header_statement {
	color: gray;
}

.lander_text_section {
	float: left;
	margin-left: 11%;
	width: 21em;
	background-color: white;
  padding: 7px;
  border-radius: 13px;
  text-align: center;
}

.house_logo {
	width: 11%;
  margin-left: 3%;
}

#nav {
  display: inline;
  float: right;
  margin: 0 1.7%;
  padding: 0 2%;
  margin-bottom: 0;
}

#nav li {
  float: right; 
  list-style: none;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
 	top: 10em;
  border-right: 1px solid #ccc; 
}

#nav li a:hover {
  color: #c00;
  background-color: #fff; 
}

#mid_landing_images img {
	width: 330px;
	height: 220px;
  	margin: 14px auto;
  	display: block
}

#testimonials {
	margin: 0 auto;
  display: block;
  max-width: 400px;
  background-image: url("../images/relax.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonial {
	max-width: 360px;
	background: #f9f9f9;
}

.testimonial img {
	float: left;
	max-width: 100px;
	border-radius: 56px;
	margin-left: 14px;
  margin-right: 21px;
}

.testimonial q {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.7em;
}

.testimonial q:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.testimonial_text {
	overflow:hidden;
}

.myButton {
	background-color:#4d4d4d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #707070;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #737373;
}
.myButton:hover {
	background-color:#858585;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Larger than 600px */
@media (min-width: 600px) {

	.constrain {
		max-width: 1500px;
  	margin-left: auto;
  	margin-right: auto;
	}

	.top_landing section {
		max-width: 1000px;
  	margin: 0 auto;
	}

	#mid_landing_images {
		position: relative;
	  bottom: 71px;
	  left: 261px;
	}

	.overlay_image_container  {
		display: inline-block;
		max-width: 330px;
		margin-right: 1%;
	}

	#mid_landing_images img {
  	margin: 0;
  	display: inline;
	}

	.testimonial {
		max-width: 100%;
		background: #f9f9f9;
		margin-bottom: 30px;
		padding: 7px 49px 2px 10px;
  	border-radius: 108px;
	}

	.testimonial:after {
		clear: both;
    content: "";
    display: block;
	}

	#testimonials {
		margin: 0 auto;
	  display: block;
	  max-width: 100%;
  	padding: 1px;
	}

	#buyers_section {
		clear: both;
		background-color: grey;
  	padding: 6%;
	}

	#buyers_section div {
		text-align: right;
	}

	#sellers_section {
		padding: 6%;
	}

	#property_management_section {
		background-color: grey;
  		padding: 6%;
	}

	#property_management_section div {
		text-align: right;
	}

	#blog_section {
		padding: 6%;
	}

	iframe {
		margin: 0 auto;
  	display: block;
	}

	#contact_form {
		max-width: 800px;
		margin: 0 auto;
	}

	#contact_form_text {
		float: left;
	}

	/* Buyer Page */
	#buyer_text_section {

	}

	#buyer_mid_section {
		max-width: 1000px;
  		margin-left: auto;
  		margin-right: auto;
	}

}

